<h2>View Tweets Page</h2>

<div *ngIf="!(accessToken || accessTokenSecret)">
    <button (click)="loginTwitter()" style='display: flex; height: 30px'>
        <img src='../../assets/img/sign-in-with-twitter-link.png'>
    </button>

    <br />
</div>

<div *ngIf="accessToken && accessTokenSecret">
    <button (click)="logoutTwitter()">Logout</button>

    <br /><br />
</div>

<div *ngIf="accessToken && accessTokenSecret">
    <input [(ngModel)]="searchStr" type="text">
    <br /><br />
    <button (click)="searchTweets({q: searchStr, result_type: 'popular'})">
        Search Tweets (Treadmill)
    </button>
    <button (click)="searchTweets({q: searchStr, result_type: 'popular'})" style="margin-left: 5px">
        Search Tweets (Carousel)
    </button>
</div>

<br />

<!-- <ngx-tweet tweetId="921670221710032896"></ngx-tweet> -->

<div class="treadmill-wrapper">
    <div id="tweet-treadmill" class="treadmill">
        <div *ngFor="let t of tweets" [attr.id]="t.id_str" class="treadmill-unit">
    
        </div>
    </div>
</div>