.treadmill-wrapper {
    display: flex;
    justify-content: center;
}

.treadmill {
    overflow: hidden;
    /*optional stylings*/
    border: none;
    width: fit-content;
    /*height: 332px;*/
}

.treadmill-unit {
    overflow: hidden;
    position: relative;
}